.round-container {
  padding: 20px;
  background-color: #f0f0f0;
}

.round-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(131, 24, 202, 0.425);
  
}

.round-header h1 {
  font-size: 36px;
  font-weight: bold;
  color: #c8ff00d2;
  padding-left: 2%;
}

.round-header input {
  padding: 10px;
  font-size: 18px;
  border: 2px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s ease;
}

.round-header input:focus {
  border-color: #007bff;
}

.timer {
  font-size: 28px;
  color: #ff0000;
}

.round-main {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.equipment-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.equipment-card {
  background-color: #fff;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.equipment-card:hover {
  transform: translateY(-5px);
}

.equipment-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.equipment-card h2 {
  font-size: 20px;
  margin: 10px 0;
  color: #333;
}

.equipment-card button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.equipment-card button:hover {
  background-color: #0056b3;
}

.equipment-form {
  flex-grow: 1;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.round-footer {
  margin-top: 20px;
  text-align: center;
}

.round-footer button {
  background-color: #28a745;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.round-footer button:hover {
  background-color: #218838;
}


.round-container {
  padding: 20px;
  background-color: #f0f0f0;
}

.round-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(131, 24, 202, 0.425);
}

.round-header-title {
  font-size: 36px;
  font-weight: bold;
  color: #c8ff00d2;
}

.registedBy-label {
  color: #fff;
  margin-right: 8px;
}

.registedBy-input {
  background-color: #fff;
  border-radius: 5px;
}

.timer {
  font-size: 28px;
  color: #ff0000;
}

.round-main {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.round-footer {
  margin-top: 20px;
  text-align: center;
}
